<br>
<!-- post status start -->
<div class="card">
    <!-- post title start -->
    <div class="post-title d-flex align-items-center">
        <!-- profile picture end -->
        <div class="profile-thumb">
            <a href="#">
                <figure class="profile-thumb-middle">
                    <img id="avatar" src="" alt="profile picture">
                </figure>
            </a>
        </div>
        <!-- profile picture end -->

        <div class="posted-author">
            <h6 class="author"><a href="/profile" id="username"></a></h6>
            <span class="post-time">Just a few seconds ago</span>
        </div>

        <div class="post-settings-bar">
            <span></span>
            <span></span>
            <div class="post-settings arrow-shape">
                <ul>
                    <li id="editButton"><a>Edit Post</a></li>
                    <li id="delButton"><a>Delete Post</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- post title end -->

    <div class="post-content">
        <h6 class="title"></h6>
        <p class="post-desc"></p>

        <div id="post-img" class="post-thumb-gallery img-gallery">
            <div class="row g-0">
                <div class="col-12">
                    <figure class="post-thumb">
                        <a class="gallery-selector" href=""></a>
                    </figure>
                </div>
            </div>
        </div>

        <!-- <div id="plyr-youtube" data-type="youtube" data-video-id=""></div>  -->
        <div id="plyr-youtube" class="plyr__video-embed plyr-video"></div>
    </div>
</div>
<!-- post status end -->